@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	grid-column-gap: 16px;
	grid-template-columns: minmax(256px, 1fr) 256px;
}

.night {
	background-color: white;
	color: black;
	filter: invert(100%);
}

#userList {
	float: right;
}

@media only screen and (orientation: portrait) {
	#content {
		display: initial;
	}

	#userList {
		display: none;
	}
}

#userList div {
	text-overflow: ellipsis;
}

.Terminal {
	overflow: auto;
	position: relative;
	font-family: 'Roboto Mono', monospace !important;
}